<!DOCTYPE html>
<html>

<head>
  <title>Sign In</title>
  <style>
   
  </style>
</head>
<body>
  <h2>Sign In</h2>
  <div class="login-page">
    <div class="form">
      <form method="POST" action="/signin" class="register-form">
        {% csrf_token %}
        <label for="username">username:</label>
        <input type="text" id="username" placeholder="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="password" required><br><br>

        <button type="submit" value="Sign In"><a href="/myapp">Login</a></p></button>
        <p class="message">Not registered? <a href="/signup">Create an account</a></p>
      </form>
    </div>  
  </div>
</body>
</html>
